<app-header></app-header>
<!--页面复用性比较强的抽离成模块组件，其余的直接在页面组件中写-->
<!--选择框-->
<div class="select">
  <div class="select-item" (click)="show()">
    <p class="select-item-p">2019年08月</p>
    <img src="assets/image/down.png" alt="down" class="select-item-icon"/>
  </div>
  <div class="select-item" (click)="show()">
    <p class="select-item-p">全部账户</p>
    <img src="assets/image/down.png" alt="down" class="select-item-icon"/>
  </div>
</div>
<!--卡片-->
<div class="card">
  <app-card></app-card>
</div>
<!--选项菜单，虽然是个模块但应该没有复用性，不抽离-->
<div class="menu">
  <div (click)="show()" >
    <img src="assets/image/icon_analysis.png" alt="analysis"/>
    <p>收支分析</p>
  </div>
  <div (click)="show()">
    <img src="assets/image/icon_bill.png" alt="bill"/>
    <p>月度账单</p>
  </div>
  <div (click)="show()">
    <img src="assets/image/icon_billbook.png" alt="bill_book"/>
    <p>我的账本</p>
  </div>
  <div (click)="show()">
    <img src="assets/image/icon_trade.png" alt="trade"/>
    <p>查找交易</p>
  </div>
</div>
<!--消费列表-->
<!--关于把消费日期的近两天转换为今天昨天，前后端都可处理，假设后端已经处理过了-->
<div class="consume-item" *ngFor = "let item of consume_detail">
  <div class="title">
    <p>{{item.title}}</p>
    <p class="refresh" *ngIf="item.is_first" (click)="show()">刷新</p>
  </div>
  <app-consume-item  *ngFor="let consume_item of item.list" [consume_item]="consume_item"></app-consume-item>
</div>

<!--记一笔，功能太单一，不抽离-->
<div class="note" (click)="show()">
  记一笔
</div>
