<div id="card">
  <div class="top">
    <div><span class="big">08</span>/2019</div>
    <p>余额 ￥8888.88</p>
  </div>
  <div class="middle">
    <div class="inner-left">
      <p class="inner-title">支出</p>
      <p class="inner-content big">￥18833.16</p>
    </div>
    <div class="inner-middle">
      <p class="inner-title">收入</p>
      <p class="inner-content big">￥18533.33</p>
    </div>
    <div class="inner-right">
      <img class="inner-img" src="../../../assets/image/detail.png" alt="详情"/>
    </div>
  </div>
  <div class="bottom">
    <div>预算<span class="go-budget">您还未设置 ></span></div>
  </div>
</div>
<style>
  .top,.middle,.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .big{
    font-size: 18px;
  }
  .inner-left,.inner-middle,.inner-right{
    display: flex;
    flex-direction: column;
  }
  .inner-img{
    width: 20px;
    height: 20px;
  }
  .inner-title{
    line-height: 26px;
    margin-left: 2px;
  }
  .inner-content{
    line-height: 30px;
  }
  .go-budget{
    margin-left: 12px;
  }
</style>
