#header{
  height: 44px;
  background-color: #3b393c;
  width: calc(100% - 40px);
  padding: 0 20px;
  position: fixed;
  z-index: 2;
}
img{
  width: 27px;
  height: 27px;
  margin-top: 8px;
}
.go-back{
  float: left;
}
.title{
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 18px;
  position: absolute;
  /*绝对定位的文字居中*/
  left: 0;
  right: 0;
  width: 100%;
  /*防止覆盖*/
  z-index:-1;
}
.ect {
  float: right;
}
.customer-service{
  float: right;
  margin-right: 30px;
}
