#card{
  margin: 0 auto;
  width: calc(100% - 34px);
  height: calc((100vw - 34px) * 306 / 741);/*根据UI定宽高比*/
  background: url("../../../../../assets/image/card-background.png");
  background-size: 100% 100%;
  padding: 17px;
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top,.middle,.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.big{
  font-size: 18px;
}
.inner-left,.inner-middle,.inner-right{
  display: flex;
  flex-direction: column;
}
.inner-img{
  width: 20px;
  height: 20px;
}
.inner-title{
  line-height: 26px;
  margin-left: 2px;
}
.inner-content{
  line-height: 30px;
}
.go-budget{
  margin-left: 12px;
}
